/* SECCIÓN DE CONTACTO */
.contenedor-contacto{
    margin-top: -5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-color: #F0F0F0;
}

.contenedor-contacto span{
    font-size: 200%;
    font-family: 'Raleway', sans-serif;
    font-weight: 540;
    color: #5E5E5E;
}

.contenedor-contacto-contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;
}

#ubicacion-chica{
    display: none;
}

#ubicacion-mini{
    display: none;
}

.contenedor-formulario{
    width: 100%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.contenedor-formulario p{
    margin: 0;
    width: 50%;
    padding-top: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding-bottom: 2%;
    font-size: 100%;
    color: #5E5E5E;
}

.contenedor-formulario input{
    width: 100%;
    height: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #5E5E5E;
    border: 1.5px solid #00839C;
    border-radius: 5px;
    background-color: #F0F0F0;
}

.contenedor-formulario textarea{
    width: 100%;
    height: 150px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #5E5E5E;
    border: 1.5px solid #00839C;
    border-radius: 5px;
    background-color: #F0F0F0;
}

.contenedor-formulario button{
    width: 80px;
    height: 30px;
    margin-top: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: #5E5E5E;
    border: 1.5px solid #00839C;
    border-radius: 5px;
    background-color: #F0F0F0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contenedor-formulario button:hover{
    background-color: #1B6282;
    color: #F0F0F0;
    transition: all 0.3s ease-in-out;
}

.contenedor-contacto-informacion{
    width: 100%;
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;
    background-color: #1B6282;
}

.contenedor-contacto-informacion span{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 120%;
    color: #F0F0F0;
}

.contenedor-direccion p{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 100%;
    color: #F0F0F0;
}

.horario-contenido{
    display: flex;
    flex-direction: column;
}

.horario-contenido-dias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 30px 30px;
    grid-column-gap: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 100%;
    color: #F0F0F0;
}

.redes-contenido-botones{
    display: grid;
    grid-template-columns: 150px 150px;
}

.boton-redes{
    cursor: pointer;
}

/* Pantallas menores a 1700px */
@media screen and (min-width: 1700px){
    .contenedor-formulario{
        width: 750px;
    }

    .contenedor-formulario input{
        width: 750px;
    }

    .contenedor-formulario textarea{
        width: 750px;
    }

    .contenedor-formulario p{
        width: 750px;
    }

}

/* Pantallas menores a 1230px */
@media screen and (max-width: 1230px){
    .contenedor-formulario input{
        width: 300px;
    }
    
    .contenedor-formulario textarea{
        width: 300px;
    }

    .contenedor-formulario p{
        width: 300px;
    }

    #ubicacion-mediana{
        display: none;
    }

    #ubicacion-chica{
        display: block;
    }

    .contenedor-contacto-informacion{
        flex-direction: column;
    }

    .contenedor-contacto-informacion div{
        margin-bottom: 28px;
    }

    .horario-contenido-dias{
        grid-template-columns: 150px 150px;
    }
}

/* Pantallas menores a 840px */
@media screen and (max-width: 840px){
    .contenedor-contacto-contenido{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-formulario{
        align-items: center;
        margin-left: 0;
    }

    .contenedor-contacto span{
        font-size: 150%;
    }

    .contenedor-direccion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 80%;
    }

    .horario-contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 80%;
    }

    .redes-contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 80%;
    }

    .horario-contenido-dias{
        grid-template-columns: 115px 115px;
    }
}

/* Pantallas menores a 380px */
@media screen and (max-width: 380px){
    .contenedor-contacto span{
        font-size: 100%;
    }

    #ubicacion-mediana{
        display: none;
    }

    #ubicacion-chica{
        display: none;
    }

    #ubicacion-mini{
        display: block;
    }

    .contenedor-formulario input{
        width: 220px;
    }
    
    .contenedor-formulario textarea{
        width: 220px;
    }

    .contenedor-formulario p{
        width: 220px;
    }
}

/* Pantallas menores a 280px */
@media screen and (max-width: 280px){
    .redes-contenido-botones{
        grid-template-columns: none;
        grid-template-rows: 150px 150px;
    }

    .horario-contenido-dias{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
